* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #ddd;
}

.container {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 0 15px #bbb;
}

.banner {
  height: 760px;
  background-color: #F8F8F8;
  padding: 20px;
  position: relative;
}

.nilenso-logo {
  width: 150px;
  position: absolute;
}

.banner-text {
  margin: 0 auto;
  text-align: center;
  font: italic 40px 'Alegreya', sans-serif;
  width: 72%;
  max-width: 1034px;
  color: #4A4A4A;
  margin-top: 279px;
}

.design-real-world-link {
  color: #4A4A4A;
}

/*philosophy*/
.philosophy {
  background: white;
  text-align: center;
}

.title {
  font: 36px 'Lato', sans-serif;
  color: #4A4A4A;
  margin: 70px 25px;
}

.line {
  border-bottom: 1px solid #4A4A4A;
  width: 65px;
}

.title, .line {
  display: inline-block;
  vertical-align: middle;
}

.philosophy-section {
  text-align: center;
  height: 490px;
  padding: 58px 10px;
}

.philosophy-section:nth-child(even) {
  background-color: #FFFFFF;
}

.philosophy-section:nth-child(odd) {
  background-color: #FAFAFA;
  border-bottom: 2px solid rgba(209,209,209,0.5);
  border-top: 2px solid rgba(209,209,209,0.5);
}

.philosophy-text {
  text-align: left;
}

.philosophy-title {
  font: 24px 'Lato', sans-serif;
  color: #4A4A4A;
  margin: 0 0 18px;
}

.philosophy-description {
  font: 300 18px 'Lato', sans-serif;
  color: #5E5D5F;
  width: 350px;
  margin: 0;
}

.philosophy-illustration {
  height: 350px;
}

.philosophy-illustration, .philosophy-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}


.team {
  padding-bottom: 180px;
  text-align: center;
  background: #FAFAFA;
  border-bottom: 2px solid rgba(209,209,209,0.5);
  border-top: 2px solid rgba(209,209,209,0.5);
  font-family: 'Lato', sans-serif;
}

.section-title {
  font: 36px 'Lato';
  color: #4A4A4A;
  padding: 64px 0 100px;
  margin: 0 auto;
  text-align: center;
}

.list-of-people {
  padding: 0;
}

.person {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin: 0 30px 50px;
  color: #4F4F4F;
}

.person-name {
  font: 24px 'Lato';
  margin: 24px 0 0;
}

.person-image {
  width: 150px;
  border-radius:  50%;
  border: 8px solid #FF337D;
}

.person-links {
  font: 18px 'Lato';
  text-transform: uppercase;
  margin-top: 6px;
}

.person-link {
  color: #4F4F4F;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.person-description {
  width: 496px;
  margin: 36px 0 0;
  font: 300 18px 'Lato';
  color: #7F7F7F;
}


.work {
  text-align: center;
  background: #F8F8F8;
}

.work .section-title {
  padding-bottom: 50px;
}

.work-companies {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work-company {
  display: inline-block;
  margin: 0 10px;
}

.contact {
  background: white;
  position: relative;
  border-top: 2px solid rgba(209,209,209,0.5);
}

.contact .section-title {
  max-width: 745px;
  padding-top: 130px;
}

.tea {
  position: absolute;
  top: 38px;
  left: 0;
}

.contact-letter {
  background: url('../img/illustrations/image-letter.png') -150px -2px no-repeat;
  width: 580px;
  height: 420px;
  margin: 0 auto;
  padding: 150px 50px;
  box-shadow: 5px 2px 4px rgba(149,149,149,0.5);
}

.contact-letter-content {
  color: #4A4A4A;
  margin: 0 auto 45px;
  font: 300 18px 'Lato';
  text-align: center;
  line-height: 1.5em;
  width: 440px;
}

.contact-link {
  text-decoration: none;
  color: #4A4A4A;
  border-bottom: 1px solid #ddd;
}


@media only screen and (max-device-width: 480px) {
  .container{
    width: 100%;
  }
  .banner-text {
    max-width: 580px;
  }
  .philosophy-section {
    padding: 58px;
  }
  .philosophy-illustration {
    width: 340px;
    height: 340px;
  }
  .philosophy-text {
  }
  .philosophy-description {
    max-width: 400px;
  }
  .team{
    padding-bottom: 70px;
  }
  .person {
    width: 500px;
    margin-bottom: 50px;
  }
}
