body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

h1 { 
  margin: 0;
}

.underlined {
  text-decoration: underline;
}

.pure-g {
  position: relative;
}

.align-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.container {
  height: 100%;
  width: 100%;
}

div.container > div {
  width: 100%;
}

div.container .pure-g:nth-child(even) {
  background: #FFF;
}

div.container .pure-g:nth-child(odd) {
  background: #F8F8F8;
}

div.header {
  height: 15%;
  min-height: 763px;
  position: relative;
}

div.logo > img {
  width: 211px;
  height: 52px;
  position: relative;
  top: 25px;
  left: 35px;
}

div.headline {
  text-align: center;
  overflow: visible;
}

div.headline > h1 { 
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

div.philosophy { 
  height: 4%;
  min-height: 200px;
  text-align: center;
}

div.philosophy-example {
  height: 10%;
  min-height: 490px;
}

div.philosophy-example-text {
  position: relative;
}

div.philosophy-example-image {
  position: relative;
}

div.challenges {
  height: 10%; 
}

div.team {
  height: 18%;
  min-height: 900px;
  text-align: center;
}

div.work {
  height: 8.5%;
  min-height: 420px;
  text-align: center;
}

div.contact {
  height: 18%;
  min-height: 890px;
  text-align: center;
} 
